set tabstop=4 softtabstop=4
set shiftwidth=4
set expandtab
set smartindent
set exrc
set relativenumber
set nu
set nohlsearch
set hidden
set noerrorbells
set nowrap
set noswapfile
set nobackup
set undodir=~/.vim/undodir
set undofile
set incsearch
set scrolloff=8
set signcolumn=yes
set colorcolumn=80

vnoremap J :m '>+1<CR>gv=gv
vnoremap K :m '<-2<CR>gv=gv

let mapleader = " "

nnoremap <leader>fa :action GotoAction<CR>
nnoremap <leader>fb :action Switcher<CR>
nnoremap <leader>ff :action GotoFile<CR>
nnoremap <leader>wh :action SplitHorizontally<CR>
nnoremap <leader>wm :action MoveEditorToOppositeTabGroup<CR>
nnoremap <leader>wp :action JumpToLastWindow<CR>
nnoremap <Leader>wq :action CloseContent<CR>
nnoremap <Leader>wa :action CloseAllEditors<CR>
nnoremap <leader>wv :action SplitVertically<CR>
nnoremap <leader>wt :action ActivateTerminalToolWindow<CR>
nnoremap <leader>wu :action Unsplit<CR>
nnoremap <leader>wx :action HideAllWindows<CR>
nnoremap <leader>wz :action ToggleDistractionFreeMode<CR>

set ideajoin
set idearefactormode=keep
vnoremap < <gv
vnoremap > >gv
nnoremap [[ :action MethodUp<CR>
nnoremap ]] :action MethodDown<CR>
nnoremap <leader>- :action CollapseRegion<CR>
nnoremap <leader>= :action ExpandRegion<CR>
nnoremap <leader>z- :action CollapseAllRegions<CR>
nnoremap <leader>z= :action ExpandAllRegions<CR>
nnoremap <leader>c :action CommentByLineComment<CR>
nnoremap <leader>rp :action Refactorings.QuickListPopupAction<CR>
nnoremap <leader>r=  :action ReformatCode<CR>

nnoremap <leader>ld :action GotoDeclaration<CR>
nnoremap <leader>li :action GotoImplementation<CR>
nnoremap <leader>lu :action FindUsages<CR>
