set tabstop=4 softtabstop=4
set shiftwidth=4
set expandtab
set smartindent
set exrc
set relativenumber
set nu
set nohlsearch
set hidden
set visualbell
set noerrorbells
set nowrap
set noswapfile
set nobackup
set undodir=~/.vim/undodir
set undofile
set incsearch
set scrolloff=8
set signcolumn=yes
set colorcolumn=80
set clipboard^=unnamed,unnamedplus

nnoremap <A-j> :m .+1<CR>==
nnoremap <A-k> :m .-2<CR>==
vnoremap <A-j> :m .+1<CR>==
vnoremap <A-k> :m .-2<CR>==
vnoremap < <gv
vnoremap > >gv
nnoremap Y yg$

let mapleader = " "
set ideajoin
set idearefactormode=keep

nnoremap \e :e ~/code/ideavimrc/.ideavimrc<CR>
nnoremap \r :action IdeaVim.ReloadVimRc.reload<CR>

" File actions
nnoremap <A-x> :action GotoAction<CR>
nnoremap <leader>bb :action Switcher<CR>
nnoremap <leader>bk :action CloseEditor<CR>
nnoremap <leader>ff :action GotoFile<CR>
nnoremap <leader>fr :action RecentFiles<CR>
nnoremap <leader>fw :action FindInPath<CR>

" Window actions
nnoremap <C-w>s :action SplitHorizontally<CR>
nnoremap <C-w>v :action SplitVertically<CR>
nnoremap <C-w>q :action CloseEditor<CR>
nnoremap <C-w>l :action NextSplitter<CR>
nnoremap <C-w>h :action PreviousSplitter<CR>
nnoremap <C-w>t :action ActivateTerminalToolWindow<CR>
nnoremap <C-w>u :action Unsplit<CR>
nnoremap <C-w>x :action HideAllWindows<CR>
nnoremap <C-w>z :action ToggleDistractionFreeMode<CR>

" LSP navigation commands
nnoremap <leader>lgd :action GotoDeclaration<CR>
nnoremap <leader>lgi :action GotoImplementation<CR>
nnoremap <leader>lgr :action FindUsages<CR>
nnoremap <leader>l- :action Back<CR>
nnoremap <leader>l= :action Forward<CR>
nnoremap <leader>lf :action FindInPath<CR>

" LSP action commands
nnoremap <C-Space> :action CodeCompletion<CR>
nnoremap <leader>lb :action ToggleLineBreakpoint<CR>
nnoremap gcc :action CommentByLineComment<CR>
vnoremap gcc :action CommentByLineComment<CR>
nnoremap gcb :action CommentByBlockComment<CR>
vnoremap gcb :action CommentByBlockComment<CR>
nnoremap <leader>lrp :action Refactorings.QuickListPopupAction<CR>
nnoremap <leader>rf  :action ReformatCode<CR>
vnoremap <leader>rf  :action ReformatCode<CR>
nnoremap <leader>lh :action QuickJavaDoc<CR>
nnoremap <leader>la :action ShowIntentionActions<CR>
nnoremap <leader>lsw :action GotoSymbol<CR>

" Unit test commands
nnoremap <leader>tt :action ActivateUnitTestsToolWindow<CR>
nnoremap <leader>tr :action RiderUnitTestRunContextAction<CR>
nnoremap <leader>td :action RiderUnitTestDebugContextAction<CR>

" Text actions
nnoremap <leader>- :action CollapseRegion<CR>
nnoremap <leader>= :action ExpandRegion<CR>
nnoremap <leader>z- :action CollapseAllRegions<CR>
nnoremap <leader>z= :action ExpandAllRegions<CR>
